.certification {
  margin-top: 40px;
}
.certifications-li {
  margin-top: 20px;
  display: flex;
}
.certification-left img {
  margin-top: 10px;
  width: 80px;
  border-radius: 8px;
  height: auto;
  margin-left: 20px;
}
.certification-right {
  margin-top: 5px;
  margin-left: 14px;
}
.panel {
  font-weight: bold;
}
@media (max-width: 1100px) {
  .certification-left img {
    width: 40px;
  }
}
