/*.experience-div {
  background-color: red;
}*/
.experience-img {
  display: flex;
  justify-content: center;
}

.experience-img img {
  width: 100%;
  border-radius: 8px;
}
/*.experience-img h3 {
  margin-left: 10px;
}*/
/*.experience-company {
  width: 1000px;
  background-color: rebeccapurple;
}*/
/*.experience-title {
  margin-top: 10px;
}*/
.experience-all-titles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience-title h4 {
  font-size: 20px;
}
.experience-title h5 {
  font-size: 14px;
}
.experience-title h6 {
  font-size: 12px;
}
.experience-list {
  margin-top: 20px;
  margin-bottom: 40px;
}
.experience-list li {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
}
.iconAntDesign {
  margin-right: 10px;
}
@media (max-width: 600px) {
  .experience-img img {
    width: 72%;
  }
  .experience-all-titles h3 {
    text-align: start;
  }
  .experience-title h4 {
    text-align: start;
    font-size: 14px;
  }
  .experience-title h5 {
    font-size: 10px;
  }
  .experience-title h6 {
    text-align: start;
    font-size: 8px;
  }
  .experience-list li {
    font-size: 11px;
    margin-left: 10px;
  }
  .experience-list {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
