.portfolio-carousel {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 500px;
}
.portfolio-carousel h3 {
  margin-top: 30px;
  font-size: 16px;
}
.portfolio-carousel p {
  font-size: 14px;
}
.portfolio-carousel a {
  font-size: 14px;
}
.carousel li:nth-child(1) button {
  background-color: rgb(107, 105, 105) !important;
}
.carousel li:nth-child(2) button {
  background-color: rgb(107, 105, 105) !important;
}
.carousel li:nth-child(3) button {
  background-color: rgb(107, 105, 105) !important;
}
.carousel li:nth-child(4) button {
  background-color: rgb(107, 105, 105) !important;
}
@media (max-width: 1100px) {
  .portfolio-carousel {
    height: 500px;
  }
  .portfolio-carousel h3 {
    font-size: 14px;
    margin-top: 10px;
  }
  .portfolio-carousel p {
    font-size: 12px;
  }
  .portfolio-carousel a {
    font-size: 12px;
  }
}
